@keyframes inset {
  to {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@keyframes insetBack {
  from {
    clip-path: polygon(0% 0%, 0% 0%, 100% 0%, 100% 100%, 0% 100%);
    z-index: 100;
    pointer-events: none;
  }
}
