@use "mixins";
@use "variables";

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-dark);
  color: var(--text);
  font-size: 2.4rem;
  font-family: "IgraSans", sans-serif;
}

// main {
//   --min: 20ch;
//   @include mixins.flex(null, center, center);
//   flex-wrap: wrap;

//   & > * {
//     // flex: 1 1 var(--min);
//     flex: max(300px, 100% / 4 + 0.1%);
//   }

//   h1 {
//     font-size: 6vw;
//   }
// }

button {
  font-size: 1.8rem;
}

.hero {
  width: 20rem;
  height: 40rem;
  background-image: url("../images/1_.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
