@use "mixins";

main {
  display: grid;
  grid-template-areas:
    ". button ."
    ". content .";
  grid-template-columns: minmax(0, 1fr) minmax(0, calc(100% - 10vw)) minmax(
      0,
      1fr
    );
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.frame--close,
.content--close {
  opacity: 0;
  pointer-events: none;
}

.frame {
  grid-area: button;
  grid-row: 1;
  justify-self: center;

  padding: 0.5rem;

  // font-size: 5vw;
}

.content {
  @include mixins.flex(column, space-between, center);
  position: relative;

  grid-area: content;
  grid-row: 2;
  grid-column: 1 / -1;

  width: 100%;

  margin-inline: auto;

  // padding: 0 2vw;

  color: var(--clr-light);

  &__title {
    --gap: 6vw;
    @include mixins.flex(column, center, center);

    position: relative;
    // -webkit-text-stroke-width: 5px;
    line-height: 1;

    @include mixins.respond-to("1024->") {
      --gap: 5rem;
    }

    // &:not(span) {
    //   -webkit-text-stroke-width: 0.01ex;
    // }

    &-main {
      // text-shadow: -6px -6px 0 var(--clr-light), 6px -6px 0 var(--clr-light),
      //   -6px 6px 0 var(--clr-light), 6px 6px 0 var(--clr-light);
      // text-shadow: 0 0 0 var(--clr-light);
      // -webkit-text-stroke-width: 5px;
      // border-radius: 0;
      // -webkit-text-stroke-width: 9px;
      // -webkit-text-stroke-color: #ffffff;
      -webkit-text-stroke-width: medium;
      // -webkit-font-smoothing: antialiased;
    }

    &-down {
      position: absolute;
      top: 35%;

      color: var(--clr-accent);
    }

    &-bg {
      position: relative;
      margin-top: 0;
      padding: 0.5rem 3vw;
      color: var(--clr-dark);

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        width: 100%;
        height: calc(100% + 1rem);
        background: linear-gradient(transparent 20%, var(--clr-accent) 0%);
        z-index: -1;

        @include mixins.respond-to("1024->") {
          height: calc(100% + 2rem);
        }
      }
    }
  }
}

.menu-wrapper {
  position: relative;
  display: grid;
  grid-template-areas:
    ". btn ."
    ". gallery .";
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: max-content 1fr;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  place-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  @include mixins.respond-to("568->") {
    grid-template-areas:
      ". btn ."
      ". menu ."
      ". gallery ."
      ". gallery .";
  }

  &--open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
}

.menu {
  grid-area: menu;

  ul {
    display: flex;
    gap: 3rem;
  }

  &__item > * {
    font-size: var(--fs-small);
    color: var(--clr-light);
    text-decoration: none;
  }
}

.gallery {
  position: relative;
  display: grid;
  grid-row: 2;
  width: min(90rem, calc(100% - 1rem));
  height: 0;

  grid-area: gallery;
  margin-inline: auto;
  margin-top: auto;

  &--main {
    height: auto;
  }

  @include mixins.respond-to("568->") {
    grid: 3fr 1fr 2fr 2fr / 1fr 1fr 2fr 3fr 5fr;
    aspect-ratio: 3 / 2;
  }

  &:hover img {
    filter: grayscale(1) brightness(40%);
  }

  & img {
    // display: block;

    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 5rem;

    cursor: pointer;

    filter: grayscale(30%) brightness(35%);
    animation: insetBack 1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;

    transition: filter 0.6s ease-in-out;

    @include mixins.respond-to("568->") {
      grid-area: 1 / 1 / -1 / -1;
    }

    &:nth-child(1) {
      clip-path: none;
      z-index: 1;

      @include mixins.respond-to("568->") {
        clip-path: polygon(0% 0%, 0% 0%, 30% 0%, 30% 0%, 0% 50%);
        z-index: 1;
      }
    }

    &:nth-child(2) {
      // grid-area: 1 / 2 / span 3 / span 3;
      // clip-path: circle(50% at 50% 50%);
      // clip-path: polygon(0% 50%, 50% 0%, 100% 50%, 50% 100%);
      clip-path: none;
      z-index: 2;

      @include mixins.respond-to("568->") {
        clip-path: polygon(6% 40%, 6% 40%, 30% 0%, 54% 40%, 30% 80%);
        z-index: 2;
      }
    }

    &:nth-child(3) {
      // grid-area: 1 / span 2 / -1 / -1;
      // clip-path: polygon(0% 0%, 100% 0%, 100% 100%);
      clip-path: none;
      z-index: 3;

      @include mixins.respond-to("568->") {
        clip-path: polygon(30% 0%, 30% 0%, 100% 0%, 100% 100%, 90% 100%);
        z-index: 3;
      }
    }

    &:nth-child(4) {
      // grid-area: 2 / 1 / -1 / span 3;
      // clip-path: polygon(25% 0%, 100% 60%, 50% 100%, 0% 100%, 0% 20%);
      clip-path: none;
      z-index: 4;

      @include mixins.respond-to("568->") {
        clip-path: polygon(0% 50%, 6% 40%, 30% 80%, 18% 100%, 0% 100%);
        z-index: 4;
      }
    }

    &:nth-child(5) {
      // grid-area: 2 / span 3 / -1 / -1;
      clip-path: none;
      z-index: 1;

      @include mixins.respond-to("568->") {
        clip-path: polygon(54% 40%, 54% 40%, 54% 40%, 90% 100%, 18% 100%);
        z-index: 1;
      }
    }

    &:hover {
      filter: grayscale(0%);
    }

    &.active {
      grid-area: 1 / 1 / -1 / -1;
      // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

      // clip-path: circle(100% at 50% 50%);
      filter: grayscale(0%) blur(4px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.5);
      transition: filter 1s ease;
      z-index: 10;
      animation: inset 0.5s ease forwards;
    }

    &.not-active {
      pointer-events: none;
    }
  }
}

.menu-wrapper--open .gallery {
  height: auto;
}

.text-content {
  z-index: 10;
}

.text-content,
.append {
  position: absolute;
  width: 100%;
  color: var(--clr-light);
}

.append {
  // position: relative;
  padding: 2rem;

  perspective: 300px;
  transform: translate3d(0, 0, 0) perspective(600px);
  transform-style: preserve-3d;

  text-shadow: 2px 2px 4px var(--clr-black), 2px 2px 4px var(--clr-accent),
    4px 4px 5px var(--clr-dark);

  pointer-events: none;

  // visibility: hidden;
  // opacity: 0;

  // -webkit-transform: translateZ(0);
  // transform: translateZ(0);

  &.active {
    pointer-events: auto;
    z-index: 10;
    // visibility: visible;
    // opacity: 1;
  }

  // & div {
  //   // position: absolute;
  // }
}

.overlay {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  fill: var(--clr-black);
  pointer-events: none;
  z-index: 999;
}
