:root {
  --clr-black: hsl(0, 0%, 0%);
  --clr-dark: hsl(231, 13%, 22%);
  --clr-medium: hsl(208, 59%, 30%);
  --clr-light: hsl(0, 0%, 100%);
  --clr-accent: hsl(43, 100%, 50%);
  // --clr-accent: hsl(229, 85%, 62%);

  --fs-big: clamp(2vw, 15vw, 17rem);
  --fs-medium: clamp(2vw, 10vw, 12rem);
  --fs-small: clamp(2vw, 6vw, 8rem);
}
